*.aux
*.pdf
*.synctex.gz
*.log
*.DS_Store
*.make
*.bbl
*.blg
*.gls
*.glg
*.glo
*.idx
*.ist
*.lof
*.out
*.toc
*.lot
*.fls
*d
*.fdb_latexmk
*.class
*.tmproj
*.sublime-project
*.sublime-workspace
.classpath
*.prefs
.metadata


workspace/Peerbox/peerbox.properties
